.ux-datatable {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
    border-collapse: collapse;

    /**
    General stylings
     */
    &__header {
        display: block;

        &-row {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        &-column {
            border-bottom: 1px solid #DDDDDD;
            font-weight: 300;
            font-size: 12px;
            text-align: left;
            padding: 15px 15px 8px 8px;
        }
    }

    &__body {
        display: block;
        height: 400px;
        overflow: auto;

        &-row {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        &-row:last-child {
            & .ux-datatable__body-column {
                border-bottom: none;
            }
        }

        &-column {
            border-bottom: 1px solid #DDDDDD;
            font-weight: 300;
            font-size: 12px;
            padding: 10px 8px;
        }
    }

    /**
    Striped table rows
     */
    &.striped-rows tr:nth-child(even) {
        background-color: #DDDDDD;;
    }

    &.striped-columns &__body td:nth-child(even) {
        background-color: #DDDDDD;
    }
}